.weatherDisplayer {
  width: 60vw;
  height: 35vw;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-rows: 20% 40% 40%;
  justify-items: center;
  align-items: center;

  .dayText {
    margin: 0;
    font-family: Roboto;
    font-size: 3em;
    font-weight: 700;
    color: white;
  }

  .hourlyContainer {
    width: 60vw;

    .swiper-slide {
      width: auto;
    }
  }
}
