.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/cloud.jpg');
  overflow-x: auto;
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  .App {
    display: block;
  }
}