.sunny {
  --backgroundImage: url('https://i.goopics.net/gl6vox.jpg');
  --titleColor: #f8e001;
  --tempColor: #f8e001;
}

.suncloudy {
  --backgroundImage: url('https://i.goopics.net/wme73w.jpg');
  --titleColor: #ffb300;
  --tempColor: #ffb300;
}

.cloudy {
  --backgroundImage: url('https://i.goopics.net/qqcrp0.jpg');
  --titleColor: #006cb4;
  --tempColor: #006cb4;
}

.rainy {
  --backgroundImage: url('https://i.goopics.net/lte9sq.jpg');
  --titleColor: #306b9f;
  --tempColor: #306b9f;
}

.snowy {
  --backgroundImage: url('https://i.goopics.net/9qbb5b.jpg');
  --titleColor: white;
  --tempColor: white;
}

.stormy {
  --backgroundImage: url('https://i.goopics.net/xpjzvl.jpg');
  --titleColor: #c35e00;
  --tempColor: #c35e00;
}